// views/login.pug
doctype html
html
  head
  link(rel="stylesheet", href="/style.css")

    title Login
  body
    h1 Login
    form(action="/auth/login" method="POST")
      label(for="username") Username:
      input(type="text" name="username" required)
      br
      label(for="password") Password:
      input(type="password" name="password" required)
      br
      button(type="submit") Login
    p
      | Don't have an account? 
      a(href="/auth/register") Register

